@{
    ViewData["Title"] = "Metrics presentation";
}

<h1>Metrics presentation</h1>

<div class="row">
    <div class="col-md-12">
        <a href="https://engelbert-strauss.de">Engelbert-strauss</a> homepage download took @(ViewBag.DownloadTook)ms
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Counter demonstration</h2>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("IncreaseCounter", new { color = "red", type = "first" })" class="btn btn-danger">First</a>
        <a href="@Url.Action("IncreaseCounter", new { color = "green", type = "second" })" class="btn btn-success">Second</a>
        <a href="@Url.Action("IncreaseCounter", new { color = "blue", type = "third" })" class="btn btn-primary">Third</a>
    </div>
</div>

